.footer {
  background: linear-gradient(271.04deg, #402dd5 -15.1%, #0776fa 101.2%);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include sm {
    height: initial;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .auto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sm {
      flex-direction: column;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 21px;
    font-variant: small-caps;
    color: var(--light);
    @include sm {
      margin-bottom: 10px;
    }
    img {
      width: 37px;
      height: 45px;
      object-fit: contain;
      object-position: center center;

      @include sm {
        width: 27px;
        height: 15px;
      }
    }

    span {
      height: initial;
      width: inherit;
      margin-left: 26px;
    }
  }
}
